
/* Note: We use Tailwind but PageFlip requires some structure */
#flipbook {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden until loaded */
}

.page-item {
    background-color: #f3f3f3;
    color: #333;
    overflow: hidden;
}

.page-item.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page-item.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page-item.--hard {
    background-color: #fff;
    border: solid 1px #999;
}

.stPageFlip {
    position: relative;
}
